h1{
    text-align: center;border:2px royalblue;background-color: violet;border: 22px royalblue ;;

}
h2{
    text-align: center;
    color: lightgrey;

}

ol {
    list-style: decimal;
    padding: 20px;
    color: lime;
    background-color: brown;

}

ul {
    list-style: square;
    color: rgb(78, 11, 185);
    padding: 20px;
    background-color: rgb(173, 132, 159);
}