
h1{
    text-align: center;
    border:2px royalblue;
    background-color: violet;
    position: sticky;


}

h2{
    text-align: center;
    text-shadow: rgb(155, 115, 56);
    color: rgb(109, 31, 31);
 


}

div{
    background-color: rgb(228, 210, 213);
    position: sticky;
}

.leen{
    color: crimson;
    background-color: rgb(75, 238, 25);
    text-shadow: rgb(173, 132, 159);
    text-align: center;
}

.talal{
    color: rgb(148, 38, 99);
    background-color: mintcream;
}

ol {
    list-style: decimal;
    padding: 20px;
    color: lime;
    background-color: brown;

}

ul {
    list-style: square;
    color: rgb(68, 9, 17);
    padding: 20px;
    background-color: rgb(173, 132, 159);
}