h1{
    text-align: center;border:2px royalblue;background-color: violet;border: 22px royalblue ;

}
h2{
    text-align: center;

}

ol{
    list-style: decimal;
    padding: 20px;

}

ul li{
  list-style: square;
    color: lawngreen;
    padding: 20px;
}